/******************************************************************************/
/*      Copyright (c) 2019.  Mikhail Okhin <mike.okhin+copyright@gmail.com>   */
/*                           All rights reserved.                             */
/******************************************************************************/

.Test1 {
    border: lightslategray solid 10px;
    border-radius: 15px;
    background-color: aqua;

}

.Test2 {
    border: lightslategray solid 2px;
    border-radius: 10px;
    background-color: ghostwhite;
}

.Test3 {
    border: lightslategray solid 1px;
    border-radius: 3px;
    background-color: cornsilk;
}


.Test1 .ECaption_ui {
    color: Red;
}

.Border1 {
    border: lightslategray solid 1px;

}

