/******************************************************************************/
/*      Copyright (c) 2019.  Mikhail Okhin <mike.okhin+copyright@gmail.com>   */
/*                           All rights reserved.                             */
/******************************************************************************/

.HeaderTab{
    display: inline-block;
    padding: 0 5px 1px 5px;
    cursor: pointer;
}
.HeaderTabActive{
    background: beige;
    border-bottom: burlywood solid 2px;
}
.EMainPages {
    position: absolute;

    /*padding: 1px;*/
    border-top: darkgray solid 1px;
    border-right: darkgray solid 1px;
    border-left: darkgray solid 1px;
    border-bottom: gray solid 2px;

    /*background-color: floralwhite;*/
    background-color: rgba(0,0,0,0.08);
    height: 16px;
    min-width: 100px;
    padding: 3px;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    /*color: black;*/
    user-select: none;
}
.EMainPagesText {
    padding: 0 15px 0 15px;
    cursor: pointer;
    /*position: absolute;*/
    /*padding: 1px;*/
    /*border-top: darkgray solid 1px;*/
    /*border-right: darkgray solid 1px;*/
    /*border-left: darkgray solid 1px;*/
    /*border-bottom: gray solid 2px;*/
    /*text-decoration: black none unset;*/
    /*background-color: floralwhite;*/
    /*background-color: rgba(0,0,0,0.08);*/
    /*height: 16px;*/
    /*min-width: 100px;*/
    /*padding: 3px;*/
    /*text-align: center;*/
    /*border-top-left-radius: 4px;*/
    /*border-top-right-radius: 4px;*/
    /*cursor: pointer;*/
    /*!*color: black;*!*/
    /*user-select: none;*/
}
.EMainPages:hover{
    background-color: darkgray;
}



.EMainPagesActive {
    position: absolute;
    /*padding: 1px;*/
    height: 22px;
    background-color: floralwhite;
    border-top: gray solid 2px;
    border-right: gray solid 2px;
    border-left: gray solid 2px;
    padding: 3px;
    min-width: 100px;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
    user-select: none;

}

.EMainPagesSpace {
    position: absolute;
    border-bottom: gray solid 2px;
    height: 18px;
    padding: 3px;
    user-select: none;

}


.EMainPagesBody {
    border-bottom: gray solid 2px;
    border-left: gray solid 2px;
    border-right: gray solid 2px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: floralwhite;
    user-select: none;

}




