/******************************************************************************/
/*      Copyright (c) 2019.  Mikhail Okhin <mike.okhin+copyright@gmail.com>   */
/*                           All rights reserved.                             */
/******************************************************************************/

.BtnClosePanel {
    width: 20px;
    height: 20px;
    /*border: gray solid 1px;*/
    /*background-color: rgba(0,0,0,0.08);*/
    cursor: pointer;
    user-select: none;

}

.BtnClosePanel:hover {
    background-color: darkgray;
}


.MainBorder {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;

    border: gray solid 2px;
    margin: 0;
    padding: 4px;
    border-radius: 4px;
    user-select: none;
    /*background-color: cornsilk;*/
}

.FormDefault {
    /*background-color: ghostwhite;*/
    /*background-color: cornsilk;*/
    /*border: gray  solid 2px;*/
    /*border-radius: 4px;*/
    /*border: red  solid 10px;*/
}



.Test {
    position: absolute;
    size: 2px 2px;
    right: 2px;
    bottom: 2px;
    top: 2px;
    left: 2px;

}


.hover222 {
    color: yellow;
    text-decoration: underline;
    cursor: pointer;
    background-color: green
}


.tabCaption {
    color: #000;
    margin: 3px;
    text-decoration: none;
}

.a.tabCaption {
    text-decoration: none;
}

.tabCaption:hover {
    color: red;
    text-decoration: underline;
    cursor: pointer;
    background-color: green;
}

.bold {
    background-color: gray;
}


