/******************************************************************************/
/*      Copyright (c) 2019.  Mikhail Okhin <mike.okhin+copyright@gmail.com>   */
/*                           All rights reserved.                             */
/******************************************************************************/

.EPagesList {
    /*padding: 1px;*/
    border-style: solid;
    border-color: lightgray;
    border-width: 1px 1px 2px 1px;

    background-color: rgba(0,0,0,0.08);
    height: 17px;
    min-width: 100px;
    padding: 3px;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
    user-select: none;
    /*color: black;*/
}
.EPagesList:hover{
    background-color: darkgray;
}



.EPagesListActive {
    /*padding: 1px;*/
    height: 18px;
    border-top: lightgray solid 2px;
    border-right: lightgray solid 2px;
    border-left: lightgray solid 2px;
    padding: 3px;
    min-width: 100px;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
    user-select: none;

}

.EPagesListSpace {
    border-bottom: lightgray solid 2px;
    height: 18px;
    padding: 3px;
    user-select: none;

}


.EPagesListBody {
    border-bottom: lightgray solid 2px;
    border-left: lightgray solid 2px;
    border-right: lightgray solid 2px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    user-select: none;

}

.EField_ui, .ECaption_ui {
    color: darkslategray;
    /*border: gray solid 0px;*/
    user-select: none;

}

.EButton_ui {
    text-align: left;
    height: 19px;
    padding-left: 10px;
    padding-right: 10px;
    border: gray solid 1px;
    background-color: rgba(0,0,0,0.08);
    cursor: pointer;
    user-select: none;

}

.EGridHeaderUI {
    text-align: left;
    border-left: gray solid 1px;
    border-top: gray solid 1px;
    padding: .5em .6em .4em;
    background-color: rgba(0,0,0,0.08);
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;


}

.EGridRowUIRowSelected {
    text-align: left;
    padding: .1em .3em .1em;
    border-left: gray solid 1px;
    border-top: gray solid 1px;
    background-color: #fae5b1;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    cursor: cell;
    user-select: none;
}

.EGridRowUIColSelected {
    text-align: left;
    padding: .1em .3em .1em;
    border-left: gray solid 1px;
    border-top: gray solid 1px;
    background-color: #facc1f;

    overflow: hidden;
    text-overflow: ellipsis;

    white-space: pre;
    cursor: cell;
    user-select: none;
}


.EGridRowUI {
    text-align: left;
    padding: .1em .3em .1em;
    border-left: gray solid 1px;
    border-top: gray solid 1px;
    background-color: white;

    overflow: hidden;
    text-overflow: ellipsis;

    white-space: pre;
    cursor: cell;
    user-select: none;
}

.EGrid {
    border-right: gray solid 1px;
    border-bottom: gray solid 1px;
    overflow: hidden;
    user-select: none;

}

.EField_add, .EButton_add {
    width: 19px;
    height: 19px;
    text-align: center;
    border-top: gray solid 1px;
    border-bottom: gray solid 1px;
    border-right: gray solid 1px;
    background-color: rgba(0,0,0,0.08);
    cursor: pointer;
    user-select: none;

}


.EGrid_scroll_bt {
    width: 22px;
    height: 22px;
    text-align: center;
    border-bottom: gray solid 1px;
    /*border-top: gray solid 1px;*/
    border-right: gray solid 1px;
    border-left: gray solid 1px;

    background-color: rgba(0,0,0,0.08);
    cursor: pointer;
    user-select: none;

}

.EGrid_scroll {
    /*width: 19px;*/
    height: 19px;
    /*text-align: center;*/
    /*border-bottom: gray solid 1px;*/
    /*border-right: gray solid 1px;*/
    /*background-color: rgba(0,0,0,0.08);*/
    /*cursor: pointer;*/
    user-select: none;

}


.EField_add:hover, .EField_add:hover, .EButton_add:hover, .EButton_ui:hover{
    background-color: darkgray;

}


